[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
coverage = "==4.5.2"
flask-redis = "==0.3.0"
itsdangerous = "==1.1.0"
mysqlclient = "==1.4.1"
redis = "==2.10.6"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Flask = "==1.0.2"
Flask-Script = "==2.0.6"
Flask-WTF = "==0.14.2"
SQLAlchemy = "==1.2.14"
Werkzeug = "==0.14.1"
qiniu = "==7.2.2"
certifi = "==2018.11.29"
chardet = "==3.0.4"
idna = "==2.8"
requests = "==2.21.0"
"urllib3" = "==1.24.1"
Flask-SQLAlchemy = "==2.3.2"
WTForms = "==2.2.1"

[dev-packages]

[requires]
python_version = "3.7"
