certifi==2018.11.29
chardet==3.0.4
Click==7.0
coverage==4.5.2
Flask==1.0.2
Flask-Redis==0.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
mysqlclient==1.4.1
qiniu==7.2.2
redis==2.10.6
requests==2.21.0
SQLAlchemy==1.2.14
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
