<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>热映电影</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='anim/css/style.css') }}">
</head>
<body>
<!--轮播图 开始 -->
<div class="main_banner">
	<div class="main_banner_wrap">
		<canvas id="myCanvas" width="150" height="150"></canvas>
		<div class="main_banner_box" id="m_box">
			<a href="javascript:void(0)" class="banner_btn js_pre">
				<span class="banner_btn_arrow"><i></i></span>
			</a>
			<a href="javascript:void(0)" class="banner_btn btn_next js_next">
				<span class="banner_btn_arrow"><i></i></span>
			</a>
			<ul>
                {% for v in data %}
                    <li id="imgCard{{ v.id }}">
					<a href=""><span style="opacity:0;"></span></a>
                        <img src="{{ url_for('static',filename='uploads/'+v.logo) }}" alt="">
                        <p style="bottom:0">{{ v.title }}</p>
				</li>
                {% endfor %}
                {#				<li id="imgCard{{ v.id }}">#}
                {#					<a href=""><span style="opacity:0.4;"></span></a>#}
                {#					<img src="{{ url_for('static',filename='anim/main_banner/big0120150101183428.jpg') }}" alt="">#}
                {#					<p>乐侃有声节目第二期</p>#}
                {#				</li>#}
                {#				<li id="imgCard{{ v.id }}">#}
                {#					<a href=""><span style="opacity:0.4;" ></span></a>#}
                {#					<img src="{{ url_for('static',filename='anim/main_banner/big0320150101183351.jpg') }}" alt="">#}
                {#					<p>乐见大牌：”荣“耀之声，”维“我独尊</p>#}
                {#				</li>#}
                {#				<li id="imgCard{{ v.id }}">#}
                {#					<a href=""><span style="opacity:0.4;"></span></a>#}
                {#					<img src="{{ url_for('static',filename='anim/main_banner/big0420150101224343.jpg') }}" alt="">#}
                {#					<p>王力宏四年心血结晶</p>#}
                {#				</li>#}
                {#				<li id="imgCard{{ v.id }}">#}
                {#					<a href=""><span style="opacity:0.4;"></span></a>#}
                {#					<img src="{{ url_for('static',filename='anim/main_banner/big0720150102210934.jpg') }}" alt="">#}
                {#					<p>MV精选：《武媚》女神团美艳大比拼</p>#}
                {#				</li>#}
			</ul>
			<!--火狐倒影图层-->
			<p id="rflt"></p>
			<!--火狐倒影图层-->
		</div>
		<!--序列号按钮-->
		<div class="btn_list">
			<span class="curr"></span><span></span><span></span><span></span><span></span>
		</div>
	</div>

</div>
<!--轮播图 结束 -->

<script type="text/javascript" src="{{ url_for('static',filename='anim/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='anim/js/script.js') }}"></script>

</body>
</html>
