{% extends "home/home.html" %}

{% block content %}
    <!--内容-->
    <div class="container" style="margin-top:76px">
        {% include "home/menu.html" %}
        <div class="col-md-9">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
                </div>
                <div class="panel-body">
                    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <form role="form" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <label for="input_name"><span
                                        class="glyphicon glyphicon-user"></span>&nbsp;{{ form.name.label }}</label>
                                {#                            <input id="input_name" class="form-control" placeholder="昵称" name="name" type="text"#}
                                {#                                   autofocus value="jinlong">#}
                                {{ form.name }}
                                {% for err in form.name.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_name"></div>
                            <div class="form-group">
                                <label for="input_email"><span
                                        class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.email.label }}</label>
                                {#                            <input id="input_email" class="form-control" placeholder="邮箱" name="email" type="email"#}
                                {#                                   autofocus value="1780316635@qq.com">#}
                                {{ form.email }}
                                {% for err in form.email.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_email"></div>
                            <div class="form-group">
                                <label for="input_phone"><span
                                        class="glyphicon glyphicon-phone"></span>&nbsp;{{ form.phone.label }}</label>
                                {{ form.phone }}
                                {% for err in form.phone.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                                {#                            <input id="input_phone" class="form-control" placeholder="手机" name="phone" type="text"#}
                                {#                                   autofocus value="13700632835">#}
                            </div>
                            <div class="col-md-12" id="error_phone"></div>
                            <div class="form-group">
                                <label for="input_face"><span
                                        class="glyphicon glyphicon-picture"></span>&nbsp;{{ form.face.label }}</label>

                                {% if user.face %}
                                    <img src="{{ url_for('static', filename='uploads/users/' + user.face) }}"
                                         style="width: 100px;" class="img-responsive img-rounded">
                                {% else %}
                                    <img data-src="holder.js/100x100" class="img-responsive img-rounded">
                                {% endif %}
                                {{ form.face }}
                                {% for err in form.face.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                                {#                            <a class="btn btn-primary" style="margin-top:6px;"><span#}
                                {#                                    class="glyphicon glyphicon-open"></span>&nbsp;上传头像</a>#}
                                {#                            <input id="input_face" class="form-control" name="face" type="hidden" autofocus>#}
                            </div>
                            <div class="col-md-12" id="error_face"></div>
                            <div class="form-group">
                                <label for="input_info"><span
                                        class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.info.label }}</label>
                                {#                            <textarea class="form-control" rows="10" id="input_info"></textarea>#}
                                {{ form.info }}
                                {% for err in form.info.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_info"></div>
                            {{ form.csrf_token }}
                            {{ form.submit }}
                            {#                        <a href="user.html" class="btn btn-success"><span class="glyphicon glyphicon-saved"></span>&nbsp;保存修改</a>#}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--内容-->
{% endblock %}

{% block css %}
    <style>
        .navbar-brand > img {
            display: inline;
        }

        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            padding-right: 3px;
            padding-left: 3px;
        }

        .media {
            padding: 3px;
            border: 1px solid #ccc
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#m1").addClass("active");
        })
    </script>
{% endblock %}