{% extends 'admin/admin.html' %}
{% import "ui/admin_page.html" as pg %}
{% block css %}
    <style>
        * {
            font-family: "Microsoft YaHei";
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }

    </style>
{% endblock %}
{% block content %}
    <!--内容-->
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 日志管理</a></li>
            <li class="active">管理员登录日志列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">管理员登录日志列表</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>编号</th>
                                <th>管理员</th>
                                <th>登录时间</th>
                                <th>登录IP</th>
                            </tr>
                            {% for v in page_data.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.admin.name }}</td>
                                    <td>{{ v.addtime }}</td>
                                    <td>{{ v.ip }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {#                            <ul class="pagination pagination-sm no-margin pull-right">#}
                        {#                                <li><a href="#">首页</a></li>#}
                        {#                                <li><a href="#">上一页</a></li>#}
                        {#                                <li><a href="#">1</a></li>#}
                        {#                                <li><a href="#">2</a></li>#}
                        {#                                <li><a href="#">3</a></li>#}
                        {#                                <li><a href="#">下一页</a></li>#}
                        {#                                <li><a href="#">尾页</a></li>#}
                        {#                            </ul>#}
                        {{ pg.page(page_data,'admin.adminloginlog_list') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--内容-->
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-8").addClass("active");
            $("#g-8-2").addClass("active");
        });
    </script>
{% endblock %}