{% extends 'admin/admin.html' %}
{% block css %}
<style>
        *{
            font-family:"Microsoft YaHei";
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            vertical-align:middle;
            text-align:center;
        }

    </style>
{% endblock %}
{% block content %}
        <!--内容-->
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 权限管理</a></li>
                <li class="active">添加权限</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加权限</h3>
                        </div>
                        <form role="form" method="post">
                            <div class="box-body">
                                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                                        {{ msg }}
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="input_name">{{ form.name.label }}</label>
                                    {{ form.name }}
                                    {% for err in form.name.errors %}
                                        <div class="col-md-12">
                                            <p style="color: red">{{ err }}</p>
                                        </div>
                                    {% endfor %}
                                    {#                                    <input type="text" class="form-control" id="input_name" placeholder="请输入权限名称！">#}
                                </div>
                                <div class="form-group">
                                    <label for="input_url">{{ form.url.label }}</label>
                                    {#                                    <input type="text" class="form-control" id="input_url" placeholder="请输入权限地址！">#}
                                    {{ form.url }}
                                    {% for err in form.url.errors %}
                                        <div class="col-md-12">
                                            <p style="color: red">{{ err }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="box-footer">
                                {{ form.csrf_token }}
                                {{ form.submit }}
                                {#                                <button type="submit" class="btn btn-primary">添加</button>#}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){
        $("#g-9").addClass("active");
        $("#g-9-1").addClass("active");
    });
</script>
{% endblock %}