{% extends 'admin/admin.html' %}

{% block css %}
    <style>
        * {
            font-family: "Microsoft YaHei";
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }

    </style>
    <style>
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: middle;
            text-align: left;
        }

        .td_bd {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    <!--内容-->
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.user_list', page=from_page) }}"><i class="fa fa-dashboard"></i> 会员管理</a>
            </li>
            <li class="active">查看会员</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">会员详情</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td class="td_bd">编号：</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">昵称：</td>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">邮箱：</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">手机：</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td class="td_bd">头像：</td>
                                <td>
                                    {% if user.face %}
                                        <img alt="100x100"
                                             src="{{ url_for('static',filename='uploads/users/'+user.face) }}"
                                             class="img-responsive"
                                             style="border:1px solid #abcdef;width:100px;">
                                    {% else %}
                                        <img alt="100x100" data-src="holder.js/100x100" class="img-responsive"
                                             style="border:1px solid #abcdef;width:100px;">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="td_bd">注册时间：</td>
                                <td>
                                    {{ user.addtime }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td_bd">唯一标志符：</td>
                                <td>
                                    {{ user.uuid }}
                                </td>
                            </tr>
                            <tr>
                                <td class="td_bd">个性简介：</td>
                                <td>
                                    {{ user.info }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--内容-->
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-5").addClass("active");
            $("#g-5-2").addClass("active");
        });
    </script>
{% endblock %}